.logosContainer {
  display: flex;
  gap: 2rem;
  overflow: hidden; 
  padding: 2rem 0;
  position: relative;
}

.scrollWrapper {
  display: flex;
  animation: scrollLeft 25s linear infinite; /* scroll from left to right */
}

.logoImage {
  width: 100px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  opacity: 0.9;
}

.logoImage:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

@keyframes scrollLeft {
  0% {
    transform: translateX(100%);
    gap: 65px;
  }
  100% {
    transform: translateX(-100%);
    gap: 65px;
  }
}
