*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(245, 245, 242); /* light gray base */
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 40px 40px; /* adjust grid spacing */
}
