@import "tailwindcss";

*{
  margin: 0px 12%;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9fafb; /* light gray base */
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 40px 40px; /* adjust grid spacing */
}

